$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

.logo {
    height: 50px;
     cursor: pointer;
 }

body {
    margin: 0;
  }
  
  .topnav {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1 !important;
  }
  
  .topnav a {
    float: left;
    display: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 5px;
  }
  

 
  
  .topnav .icon {
    display: none;
  }

  .cont {
    font-size: 16px;
    color: $colorprimario;
    cursor: pointer;
}

.cont:hover {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid $colorprimario;
    transition: .5s;
}
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
        font-size: 18px;
      float: none;
      display: block;
      text-align: left;
      color: black !important;
      text-align: center;
    }
  }