
<div class="container">
<div class="topnav" id="myTopnav">
    <div class="row">
      <div class="col-md-3">
        <img src="../../../assets/img/rojo.png" class="logo" alt="">
        <button class="navbar-toggler float-right d-xl-none mt-1" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    
    <div class="col-md-2">
      
    </div>

    
    <div class="col-md-4">      
      <button type="button" class="btn cont mt-1 float-right">
        <i class="fa fa-user-secret"></i>
        {{this.coockieservice.get('name') + " " + this.coockieservice.get('lastn')}} 
      </button>
      <button *ngIf="this.coockieservice.get('tipoUser') == '1'" type="button" class="btn cont mt-1 float-right" data-toggle="modal" data-target="#modQr">
        <i class="fa fa-qrcode"></i>
        Código QR
      </button>
      <button *ngIf="this.coockieservice.get('tipoUser') == '2'" type="button" class="btn cont mt-1 float-right" data-toggle="modal" data-target="#modCoins">
        <i class="fa fa-qrcode"></i>
        Coins
      </button>
    </div>
    </div>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <a  id="company-tab" routerLink="/admin/company"   role="tab" aria-controls="tablero" aria-selected="true">
        <i class="fa fa-building-o"></i> Empresas 
    </a>
    <a id="home-tab" data-toggle="tab" routerLink="/tablero" role="tab" aria-controls="tablero" aria-selected="true">
        <i class="fa fa-pie-chart"></i>
        Tablero</a>

        <a  id="home-tab" data-toggle="tab" routerLink="/user/panel" role="tab" aria-controls="home" aria-selected="false">
            <i class="fa fa-usd"></i>
            Mis Coins</a>

        
                    <a id="empresas-tab" data-toggle="tab" routerLink="/favoritos" role="tab" aria-controls="favoritos" aria-selected="false">
                        <i class="fa fa-star"></i>
                        Favoritos</a>
                

                      <a  id="categoria-tab" data-toggle="tab" routerLink="/gestionar" role="tab" aria-controls="ultimo" aria-selected="false">
                        <i class="fa fa-cogs"></i>
                        Mi empresa</a>

                        <a class="nav-link"(click)="onLogout()" ><i class="fa fa-power-off"></i>
                            Logout</a>

    <!-- <a  href="javascript:void(0);" class="icon" (Click)="menu()">
      <i class="fa fa-bars"></i>
    </a> -->
 </div>
  </div>
  
  </div>    
<app-user-menu></app-user-menu>

<app-modal-qr></app-modal-qr>
<app-modal-coins></app-modal-coins>