<div class="container mr-1 bg-light top-x">
    <div class="row">
        <div class="col-md-6 p-3">
            <h5 class="ml-3">Clientes</h5>
        </div>
        <div class="col-md-6 p-3">
            <div class="row">
                <div class="col-md-9">
                    <input type="text" placeholder="buscar cliente..." class="form-control">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-scr">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="row ml-1">

            <div class="col-md-4 card">
              <img class="card-img-top" src="../../../assets/img/reu.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Juanho Quispe</h5>
                <p>correo electrónico</p>
                <p>Coins canjeados: 600</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>

            <div class="col-md-4 card">
              <img class="card-img-top" src="../../../assets/img/trab.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Werner Medrano</h5>
                <p>correo electrónico</p>
                <p>Coins canjeados: 600</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>

            <div class="col-md-4 card">
              <img class="card-img-top" src="../../../assets/img/serv.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Alex Barboza</h5>
                <p>correo electrónico</p>
                <p>Coins canjeados: 600</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>

            <div class="col-md-4 card">
                <img class="card-img-top" src="../../../assets/img/serv.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Alex Barboza</h5>
                  <p>correo electrónico</p>
                  <p>Coins canjeados: 600</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="col-md-4 card">
                <img class="card-img-top" src="../../../assets/img/serv.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Alex Barboza</h5>
                  <p>correo electrónico</p>
                  <p>Coins canjeados: 600</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>


          </div>
    </section>
</div>