$colorprimario: #1e1e1e;
$colorsecundario: #9d1d1d;


.navb-sec {
    /*position: fixed;
    z-index: 1;
    width: 100%;*/
    background-color: $colorprimario !important;
    color: white !important
  }

  .cont-sup {
      margin-left: 20px;
  }

  li a {
    padding: 15px;
    text-decoration: none;
    outline: none;
    color: white !important;
  }
  .active{
    background: $colorsecundario !important;
    color: rgb(141, 136, 136);
    border: $colorsecundario;
  }
  a:link {
    color: #ffffff;
    font-size: 15px;
    border: 0px !important;
  }

  .login-x {
    cursor: pointer;
  }

  .nav-tabs {
   border-bottom: 0px; 
  }

  .nav-item:hover {
    background-color: $colorsecundario;
  }