<div class="navb-sec">
  <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active"data-toggle="tab"  id="home-tab" routerLink="/home" aria-selected="true">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"data-toggle="tab"  id="empresas-tab" routerLink="/guias" aria-selected="false">Guías</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"data-toggle="tab"  id="contact-tab" routerLink="about" aria-selected="false">Sobre nosotros</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="tab" id="ultimo-tab" routerLink="company" aria-selected="false">Empresas</a>
          </li>
          <li class="nav-item">
              <a class="nav-link"data-toggle="tab"  id="categoria-tab" routerLink="catcliente" aria-selected="false">Categorías</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="categoria-tab" routerLink="contacto" aria-selected="false">Contactanos</a>
        </li>
      </ul>
  </div>
</div>
