 
<div class="cate">

    <div class="container">
        <div  *ngFor="let categ of categoriasbd" class="card">
          <h3 class="title">{{categ.nombre_categoria}}</h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle">
                <p>{{categ.descripcion_categoria}}</p>
                <ul *ngFor="let e of empresas">
                    
                  <li *ngIf="e.id_categoria == categ.id_categoria">
                    <button class="btn-categ" (click)="vermasEmpresa(e.id_empresa)">{{ e.nombre_empresa | titlecase }}</button>
                  </li>

                </ul>
          </div>
        </div>
    
      </div>
    
</div>
