$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

.close-x {
    float: right !important;
    margin-right: 10px;
}

.btn-log {
    background-color: $colorsecundario;
    color: #ffffff;
}

.cont-form {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}