<div class="modal fade" id="registroUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registrar usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="container cont-form">
            <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="">Nombres</label>
                    <input type="text"  [(ngModel)]= "usuario.nombre" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nombres..." required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="">Apellidos</label>
                    <input type="text"  [(ngModel)]= "usuario.apellido" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Apellidos..." required>
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="">Correo electrónico</label>
                  <input type="text"  [(ngModel)]= "usuario.correo_electronico" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email..." required>
                </div>
                <div class="form-group col-md-6">
                  <label for="">Celular</label>
                  <input type="text"  [(ngModel)]= "usuario.celular" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Phone..." required>
                </div>
            </div>
            <div class="form-group">
                  <label for="">Contraseña</label>
                <input type="password"  [(ngModel)]= "usuario.clave" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="******" required>
            </div>
            <div class="form-group">
                <label for="">Confirme su contraseña</label>
                <input type="password" class="form-control" placeholder="******" required>
            </div>
            <div class="form-group"> 
                <div class="form-check">
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="2" [(ngModel)]="tipo_usuario">
                            <label class="form-check-label" for="gridRadios1">
                            Soy socio
                            </label>
                        </div>
                        <!-- <div class="col-md-4">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="" [(ngModel)]="tipo_usuario" [checked]="true">
                            <label class="form-check-label" for="gridRadios1">
                            Usuario normal
                            </label>
                        </div> -->
                    </div>
                  </div>
                  <div *ngIf="tipo_usuario">
                <label for="">Ingrese token de su empresa</label>
                <input [(ngModel)]= "usuario.token" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Token..." required>
              </div>
            </div>
            <div class="form-group">
                <button class="form-control btn btn-log" (click)="registrar_usuario()">Login</button>
            </div>
          </div>
       
      </div>
    </div>
  </div>