
<div class="wrapper">
    <form action="#" method="post">
      <div class="field">
        <input type="text" id="name" name="name" placeholder="Cual es tu nombre?" autofocus/>
        <label for="name">Nombre</label>
      </div>
      <div class="field">
        <input type="text" id="email" name="email" placeholder="ejemplo@ejemplo.com" />
        <label for="email">E-Mail</label>
      </div>
      <div class="field">
        <textarea id="msg" rows="4" name="msg" placeholder="tu mensaje..."></textarea>
        <label for="msg">Mensaje</label>
      </div>
      <input class="button" type="submit" value="Enviar" />
    </form>
  
  </div>


  