<div class="container mr-1 bg-light top-x">
    <div class="row">
        <div class="col-md-6 p-3">
            <h5 class="ml-3">Mis favoritos</h5>
        </div>
        <div class="col-md-6 p-3">
            <div class="row">
                <div class="col-md-9">
                    <input type="text" placeholder="buscar nombre de empresa..." class="form-control">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-scr">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-sm-6 mb-3">
              <div class="card">
                <div class="card-body row">
                  <div class="col-md-6">
                    <h5 class="card-title">Nombre de la empresa x y ldlanln d uno dos prueba</h5>
                    <p class="card-text">Una breve descripción de la empresa</p>
                    <button class="btn btn-scr"data-toggle="modal" data-target="#Verfavoritos">Ver detalles</button>
                    <app-modalfavoritos></app-modalfavoritos>
                  </div>
                  <div class="col-md-6">
                    <img class="card-img-top" src="../../../assets/img/edif.jpg" alt="Card image cap">
                    <div class="stars">
                        <i class="fa fa-star star-x"></i>
                        <i class="fa fa-star star-x"></i>
                        <i class="fa fa-star star-x"></i>
                        <i class="fa fa-star-half-o star-x"></i>
                        <i class="fa fa-star-o star-x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 mb-3">
                <div class="card">
                  <div class="card-body row">
                    <div class="col-md-6">
                      <h5 class="card-title">Nombre de la empresa x y ldlanln d uno dos prueba</h5>
                      <p class="card-text">Una breve descripción de la empresa</p>
                      <button class="btn btn-scr"data-toggle="modal" data-target="#Verfavoritos">Ver detalles</button>
                    </div>
                    <div class="col-md-6">
                      <img class="card-img-top" src="../../../assets/img/edif.jpg" alt="Card image cap">
                      <div class="stars">
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star-half-o star-x"></i>
                          <i class="fa fa-star-o star-x"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <div class="card">
                  <div class="card-body row">
                    <div class="col-md-6">
                      <h5 class="card-title">Nombre de la empresa x y ldlanln d uno dos prueba</h5>
                      <p class="card-text">Una breve descripción de la empresa</p>
                      <button class="btn btn-scr"data-toggle="modal" data-target="#Verfavoritos">Ver detalles</button>
                    </div>
                    <div class="col-md-6">
                      <img class="card-img-top" src="../../../assets/img/edif.jpg" alt="Card image cap">
                      <div class="stars">
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star-half-o star-x"></i>
                          <i class="fa fa-star-o star-x"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <div class="card">
                  <div class="card-body row">
                    <div class="col-md-6">
                      <h5 class="card-title">Nombre de la empresa x y ldlanln d uno dos prueba</h5>
                      <p class="card-text">Una breve descripción de la empresa</p>
                      <button class="btn btn-scr"data-toggle="modal" data-target="#Verfavoritos">Ver detalles</button>
                    </div>
                    <div class="col-md-6">
                      <img class="card-img-top" src="../../../assets/img/edif.jpg" alt="Card image cap">
                      <div class="stars">
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star-half-o star-x"></i>
                          <i class="fa fa-star-o star-x"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <div class="card">
                  <div class="card-body row">
                    <div class="col-md-6">
                      <h5 class="card-title">Nombre de la empresa x y ldlanln d uno dos prueba</h5>
                      <p class="card-text">Una breve descripción de la empresa</p>
                      <button class="btn btn-scr"data-toggle="modal" data-target="#Verfavoritos">Ver detalles</button>
                    </div>
                    <div class="col-md-6">
                      <img class="card-img-top" src="../../../assets/img/edif.jpg" alt="Card image cap">
                      <div class="stars">
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star-half-o star-x"></i>
                          <i class="fa fa-star-o star-x"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <div class="card">
                  <div class="card-body row">
                    <div class="col-md-6">
                      <h5 class="card-title">Nombre de la empresa x y ldlanln d uno dos prueba</h5>
                      <p class="card-text">Una breve descripción de la empresa</p>
                      <button class="btn btn-scr"data-toggle="modal" data-target="#Verfavoritos">Ver detalles</button>
                    </div>
                    <div class="col-md-6">
                      <img class="card-img-top" src="../../../assets/img/edif.jpg" alt="Card image cap">
                      <div class="stars">
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star star-x"></i>
                          <i class="fa fa-star-half-o star-x"></i>
                          <i class="fa fa-star-o star-x"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
            
          </div>
    </section>
</div>