
$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

.top-x {
    padding-top:70px;
}

.btn-scr {
    background-color: $colorsecundario;
    color: #ffffff;
}

.star-x {
    font-size: 38px;
    color: #ffd000;
}

.stars {
    margin: 10px;
}