<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="close-x" aria-hidden="true">&times;</span>
          </button>
          <div class="form-group cont-img text-center">
              <h3 class="pb-0 mb-0">Iniciar sesión</h3>
                <span class="fa fa-user-circle circle"></span>
          </div>
          <form #formLogin="ngForm" (submit)="onLogin()">
            <div class="container cont-form">
              <div class="form-group"> <label for="">Usuario</label>
                  <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Nombre de usuario..." required>
                </div>
                <div class="form-group"><label for="">Contraseña</label>
                  <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="******" required>
                </div>
                <div class="form-group">
                    <button class="form-control btn btn-log" >Login</button>
                </div>
            </div>
          </form>
       
      </div>
    </div>
  </div>