$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

.close-x {
    float: right !important;
    margin-right: 10px;
}

.btn-log {
    background-color: $colorsecundario;
    color: #ffffff;
}

.circle {
    font-size: 150px !important;
    margin-top: 20px;
}

.cont-form {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}