$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

.cont-carrousel {
    width: 100%;
    height: 545px;
}

.ini-carrousel {
    width: 100%;
}

.cont-search {
    bottom: 220px;
}

.text-principal h2 {
    font-size: 75px;
}

.opacty {
    background-color: #ffffff44;
    border-radius: 5px;
    padding: 10px;
}

.inp {
    margin: 0px;
    padding: 5px;
}

.btn-search-color {
    background-color: $colorsecundario;
    color: #ffffff;
    border: 1px solid $colorsecundario;
}