<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item cont-carrousel active">
            <img src="../../../assets/img/serv.jpg" class="ini-carrousel" alt="...">
        </div>
        <div class="carousel-item cont-carrousel">
            <img src="../../../assets/img/paper.jpg" class="ini-carrousel" alt="...">
        </div>
        <div class="carousel-item cont-carrousel">
            <img src="../../../assets/img/reu.jpg" class="ini-carrousel" alt="...">
        </div>
        <div class="carousel-caption d-none d-md-block cont-search">
            <div class="text-principal">
                <h2>Usa servicios, gana puntos!!!</h2>
            </div>
            <div class="opacty">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 inp">
                            <input type="text" class="form-control" placeholder="Nombre de empresa..." [(ngModel)] = "searchbox">
                        </div>
                        <div class="col-md-4 inp">
                            <input type="text" class="form-control" placeholder="Categoría...">
                        </div>
                        <div class="col-md-2 inp">
                            <button class="btn btn-search-color form-control" (click)="busqueda()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>