<div class="container">
    <h1 style="text-align: center;">Guia</h1>
    <hr>
    <div class="row">
      <div class="col-sm">

        <div class="cardContainer">
            <div class="mmCard shadow4a bBeige">
              <video class="mmCardVid" controls>
                  <source  src="../../../assets/img/video.mp4" type="video/mp4" autoplay loop>
                Revisar la conexion de internet, Por favor
              </video>
              <h3>Guia </h3>
              <div class="cardActionBar">
                <div class="cardAction">Ver mas</div>
              </div>
            </div>
        </div>

    </div>
      <div class="col-sm">

        <div class="container">
            <div id="accordion">
              <div class="card">
                <div class="card-header" data-toggle="collapse" href="#collapseOne">
                  <a class="card-link" >
                    Guia #1 - Buscar empresas
                  </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                  <div class="card-body">
                    <p>Primeramente debe asegurarse que esta en la pestaña -INICIO-
                       y podra ver una barra de busqueda: 
                    </p>
                    <img src="../../../assets/img/guia1.PNG" alt="" width="100%" height="40px">
                    <p>1.- Introducir el nombre de su empresa favorita en la primera caja de texto</p>
                    <p>2.- La segunda caja es opcional, este le ayudara a buscar mas especificamente</p>
                </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header"data-toggle="collapse" href="#collapseTwo">
                  <a class="collapsed card-link" >
                  Guia #2 - valor de ONE-COINS
                </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <p>Para saber la recompensa de ONE-COINS por 
                        su servicio:
                    </p>
                    <p>
                        1.- Encontrar su empresa favorita
                    </p>
                    <P>
                        2.- Ver descripcion de servicios(como se puede ver en el ejemplo )
                    </P>
                    <img src="../../../assets/img/guia2.PNG" alt="" width="100%" height="200px">
                    <P>
                        Nota: LA EMPRESA DEFINE EL VALOR DE SUS SERVICIOS EN ONE-COINS 

                    </P>
                </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" data-toggle="collapse" href="#collapseThree">
                  <a class="collapsed card-link" >
                    Guia #3 - Canjear ONE-COINS
                  </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
     
    </div>
  </div>