$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

* {
    box-sizing: border-box;
  }
  
  
  .cardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
  }
  
  .mmCard {
    width: 400px;
    height: 350px;
    border-radius: 3px;
    position: relative;
  }
  
  .mmCardVid {
    width: 100%;
    display: block;
    height: auto;
    max-height: 250px;
    border-radius: 3px 3px 0px 0px;
  }
  
  iframe.mmCardVid {
    height: 250px;
    border: 0;
  }
  
  .mmCard h3 {
    text-align: center;
    display: block;
    font-size: 20px;
    color: #333333;
    text-transform: uppercase;
    margin: 10px 0;
    padding: 5px;
  }
  
  .cardActionBar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border-radius: 0px 0px 3px 3px;
    padding: 2px;
    margin: 0;
  }
  
  .cardAction {
    color: #F63E37;
    background-color: #F2F1F1;
    text-decoration: none;
    cursor: pointer;
    font-size: 100%;
    border-radius: 3px;
    height: 100%;
    width: 30%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    display: block;
    user-select: none;
    padding: 5px 0;
    margin-left: 2px;
  }
  
  .cardAction:hover {
    background-color: #E3EBF1;
    text-decoration: none;
  }
  
  .cardAction:active {
    color: 333333;
    animation-name: transition;
    animation-duration: .5s;
    background-color: #cccccc;
    text-decoration: none;
  }
  
  @-webkit-keyframes transition {
    0% {
      background-color: #cccccc;
      color: #333333;
    }
    50% {
      background-color: #7BB9E0;
      color: #000000;
    }
    100% {
      background-color: #cccccc;
      color: #333333;
    }
  }
  
  @keyframes transition {
    0% {
      background-color: #cccccc;
      color: #333333;
    }
    50% {
      background-color: #7BB9E0;
      color: #000000;
    }
    100% {
      background-color: #cccccc;
      color: #333333;
    }
  }
  
  .bBeige {
    background-color: Beige;
    color: #333333;
  }
  
  
  .shadow2s, .shadow2a{
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .15), 1px 1px 1px rgba(0, 0, 0, .5);
      transform: translate3d(0px, 0px, 2px);
      -webkit-transform: translate3d(0px, 0px, 2px);
      -moz-transform: translate3d(0px, 0px, 2px);
      -ms-transform: translate3d(0px, 0px, 2px);
  }
  
  .shadow4s, .shadow4a{
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, .15), 1px 2px 2px rgba(0, 0, 0, .5);
      transform: translate3d(0px, 0px, 4px);
      -webkit-transform: translate3d(0px, 0px, 2px);
      -moz-transform: translate3d(0px, 0px, 2px);
      -ms-transform: translate3d(0px, 0px, 2px);
  }
  
  .shadow6s, .shadow6a
  .shadow2a:hover {
      box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, .15), 2px 3px 3px rgba(0, 0, 0, .5);
      transform: translate3d(0px, 0px, 6px);
      -webkit-transform: translate3d(0px, 0px, 2px);
      -moz-transform: translate3d(0px, 0px, 2px);
      -ms-transform: translate3d(0px, 0px, 2px);
  }
  
  .shadow8s, .shadow8a,
  .shadow4a:hover {
      box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, .15), 3px 4px 4px rgba(0, 0, 0, .5);
      transform: translate3d(0px, 0px, 8px);
      -webkit-transform: translate3d(0px, 0px, 2px);
      -moz-transform: translate3d(0px, 0px, 2px);
      -ms-transform: translate3d(0px, 0px, 2px);
  }
  
  .shadow6a:hover,
  .shadow2a:active {
      box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, .15), 3px 5px 5px rgba(0, 0, 0, .5);
      transform: translate3d(0px, 0px, 10px);
      -webkit-transform: translate3d(0px, 0px, 2px);
      -moz-transform: translate3d(0px, 0px, 2px);
      -ms-transform: translate3d(0px, 0px, 2px);
  }
  
  .shadow8a:hover,
  .shadow4a:active {
      box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, .15), 4px 6px 6px rgba(0, 0, 0, .5);
      transform: translate3d(0px, 0px, 12px);
      -webkit-transform: translate3d(0px, 0px, 2px);
      -moz-transform: translate3d(0px, 0px, 2px);
      -ms-transform: translate3d(0px, 0px, 2px);
  }
  
  .shadow6a:active {
      box-shadow: 0px 0px 27px 9px rgba(0, 0, 0, .15), 5px 7px 7px rgba(0, 0, 0, .5);
      transform: translate3d(0px, 0px, 14px);
      -webkit-transform: translate3d(0px, 0px, 2px);
      -moz-transform: translate3d(0px, 0px, 2px);
      -ms-transform: translate3d(0px, 0px, 2px);
  }
  
  .shadow8a:active {
      box-shadow: 0px 0px 32px 11px rgba(0, 0, 0, .15), 5px 8px 8px rgba(0, 0, 0, .5);
      transform: translate3d(0px, 0px, 16px);
      -webkit-transform: translate3d(0px, 0px, 2px);
      -moz-transform: translate3d(0px, 0px, 2px);
      -ms-transform: translate3d(0px, 0px, 2px);
  }
  
  .card-header> .card-link{
      text-decoration: none;
      outline: none;
      color: white;
  }
  .card-header{
      background-color: $colorprimario;

  }
  .card-header:active{
      background-color: $colorsecundario;
  }
  .card-header .card-link .collapse[aria-expanded=true] {
    color: #fff;
background-color: $colorsecundario;    }
  
  .card-header:link{
    background-color: $colorsecundario !important;
}
  .card-header:hover{
      background-color: $colorsecundario;
  }
 
  