
    <div class="container mr-1 bg-light top-x">
        <h1 style="text-align: center; color: black; font-size: 35px;">Tablero administrador</h1> <hr>
    <div class="container">
        <div class="row">
    
            <div class="col-md-4 cards-tablero">
                <div class="card card-content">
                    <div class="text-head">
                        <p>Empresas registradas</p>
                    </div>
                    <div class="text-num">
                        <strong *ngFor="let count of cont"> {{count.conteo}} </strong>
                    </div>
                </div>        
            </div>
            <div class="col-md-4 cards-tablero">
                <div class="card card-content">
                    <div class="text-head">
                        <p>Usuarios activos</p>
                    </div>
                    <div class="text-num">
                        <strong>346</strong>
                    </div>
                </div>        
            </div>
            <div class="col-md-4 cards-tablero">
                <div class="card card-content">
                    <div class="text-head">
                        <p>OneCoins canjeados</p>
                    </div>
                    <div class="text-num">
                        <strong>8656</strong>
                    </div>
                </div>        
            </div>
    
          
      </div>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="col-sm">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-header">REGISTROS NUEVOS</div>
                    <div class="card-body" *ngFor="let vit of vitacorabd">
                        <div class="card-footer">
                            <label for="">{{vit.tipo_registro}}: {{vit.nombre_registro}}</label>                
                            <small class="text-muted">{{vit.fecha_hora_registro}}</small>
                          </div>
                                    
                          <!-- <div class="card-footer">
                              <label for=""> registro de Usuario Cliente :</label>
                        <small class="text-muted">Last updated 4 mins ago</small>
                      </div> -->
                    </div>
                  </div>   
            </div>      </div>
          <div class="col-sm">
            <div class="grafico">
                <h1 style="color: black;">Empresas mas usadas</h1>
                <div class="sombra"></div>
                <div id="porcion1" class="recorte"><div class="quesito" data-rel="70"></div></div>
                <div id="porcion2" class="recorte"><div class="quesito" data-rel="120"></div></div>
                <div id="porcion3" class="recorte"><div class="quesito" data-rel="25"></div></div>
                <div id="porcionFin" class="recorte"><div class="quesito" data-rel="145"></div></div>
            </div>      </div>
         
        </div>
      </div>
      
    
    </div>
    </div>

<!-- <ng-template #elseTemplate ="/gestionar">

</ng-template> -->

