$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

.top-x {
    padding-top: 70px;
}

.cards-tablero {
    margin: auto;
}

.text-head {
    margin: auto;
    padding-top: 10px;
}

.text-num {
    margin: auto;
    color: $colorsecundario;
}

.text-num strong {
    font-size: 70px;
}

.linea {
    margin: 0px;
    padding: 0px;
}