<nav class="navbar navbar-expand-lg menu-princ">
    <div class="container">
        <div class="col-md-3">
            <img src="../../../assets/img/rojo.png" class="logo" alt="">
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
            </button>
        </div>

        <div class="col-md-9">

            <div class="float-right collapse navbar-collapse" id="navbarNavAltMarkup">

                <div class="navbar-brand cont" href="#" (click)="onLogout()" *ngIf="islogged">
                    <i class="fa fa-power-off"></i>
                    Logout
                  </div>
                  <div class="navbar-brand cont" href="#" data-toggle="modal" data-target="#exampleModal" *ngIf="!islogged">
                    <i class="fa fa-user"></i>
                    Ingresar
                  </div>
                  <div class="navbar-brand cont" href="#" data-toggle="modal" data-target="#registroUser" *ngIf="!islogged">
                    <i class="fa fa-user-plus"></i>
                    Registro
                  </div>
                  
    
                <div class="navbar-brand" href="#">
                    <div class="input-group buscador" *ngIf="!islogged">
                      <input type="text" class="form-control" placeholder="Buscar..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <i class="fa fa-search input-group-text ico-search"></i>
                      </div>
                    </div>    
                </div>
            </div>

        </div>
        
    </div>    
</nav>
<app-navbar-sec class="mediaq" *ngIf="!islogged"></app-navbar-sec>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <app-navbar-sec class="aver" *ngIf="!islogged"></app-navbar-sec>
</div>
<app-user-menu *ngIf="islogged"></app-user-menu>
<app-modal-login></app-modal-login>
<app-mod-reg-user></app-mod-reg-user>