$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

.menu-princ {
    background-color: #ffffff;
    z-index: 1 !important;
}


.nbr {
        position: fixed; /*Fixed ya que queremos que la posición sea en relación al navegador*/
        top: 0; /*El valor 0 indica que va a quedar arriba de todo*/
        left: 0; /*Para que el menu se ubique siempre en la parte izquierda de la pantalla*/
        width: 100%; /*100% para que ocupe todo el ancho del navegador*/
}

.logo {
    height: 50px;
    cursor: pointer;
}

.ico-search {
    border: 1px solid $colorsecundario;
    color: #ffffff;
    background-color: $colorsecundario;
    cursor: pointer;
}

.ico-search:hover {
    background-color: rgb(221, 37, 37);
}

.aver {
    width: 100%;
}

.mediaq {
    display: block;
}

.cont {
    font-size: 16px;
    color: $colorprimario;
    cursor: pointer;
}

.cont:hover {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $colorprimario;
    transition: .5s;
}



@media (max-width: 600px) {
    .mediaq {
        display: none;
    }
}