$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

.btn-log {
    background-color: $colorsecundario;
    color: #ffffff;
}

.imagen {
    padding: 0 1rem;
    //margin: 1rem;
}

.changeImg {
    height: 100px;
    margin: 0 auto;
}




.btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }