<div class="modal fade" id="registerCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registrar empresa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="formRegister" #formRegister="ngForm" (ngSubmit)="registrar_emrpesa(formRegister)">
            <div class="form-group">
              <label for="exampleFormControlInput1">Nombre</label>
              <input [(ngModel)]= "empresaRegistro.nombre_empresa" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="nombre" placeholder="Nombre empresa">
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="exampleFormControlInput1">NIT</label>
                <input  [(ngModel)]= "empresaRegistro.nit_empresa" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="nit" placeholder="Nombre empresa">      
              </div>
              <div class="col-md-6">
                <label for="exampleFormControlSelect1">Categoria</label>
              <select  [(ngModel)]= "empresaRegistro.id_categoria" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
                <option *ngFor="let categ of categoria" value="{{categ.id_categoria}}">{{categ.nombre_categoria}}</option>
                
              </select>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Razon social</label>
              <input  [(ngModel)]= "empresaRegistro.razon_social" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="rsocial" placeholder="Razon social">
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Logo de empresa</label>
                  <span class="btn btn-dark btn-file form-control">
                    Seleccionar imagen
                    <input type="file" accept=".png, .jpg, .jpeg" (change)="onUpLoadImg($event)">
                  </span>
                  <input #imageUrl type="hidden" [value]="urlImage | async">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" [style.width]="(uploadPercentImg | async) + '%'">
                    </div>
                  </div>
                  <div class="imagen">
                    <img *ngIf="urlImage | async; else btnDisab" src="{{urlImage | async}}" class="img-fluid changeImg" alt="Responsive image">
                    <ng-template #btnDisab>
                      <img src="https://firebasestorage.googleapis.com/v0/b/prueba-435d6.appspot.com/o/recursos%2F1515725705.jpg?alt=media&token=62249cc1-a249-4209-b60d-89e5032b52ed" class="img-fluid changeImg" alt="Responsive image">
                    </ng-template>
                  </div>
              </div>
              <div class="col-md-6">
                <label>Funda empresa</label>
                  <span class="btn btn-dark btn-file form-control">
                    Seleccionar documento
                    <input type="file" accept=".doc, .docx, .pdf" (change)="onUpLoadFun($event)">
                  </span>
                  <input #fundaUrl type="hidden" [value]="urlFunda | async">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" [style.width]="(uploadPercentFun | async) + '%'">
                    </div>
                  </div>
                  <div class="imagen">
                    <img src="https://firebasestorage.googleapis.com/v0/b/prueba-435d6.appspot.com/o/recursos%2Fkisspng-google-docs-computer-icons-document-android-5afc0077c169e4.7806957115264646317922.jpg?alt=media&token=d0fab3f3-eb54-4ffb-b562-d213e6eb29b1" class="img-fluid changeImg" alt="Responsive image">

                  </div>
              </div>
            </div>
            <!--<div class="form-group">
              <label for="exampleFormControlInput1">Token </label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Token de usuario" value="{{token}}">
            </div>-->

            <div class="modal-footer">
              <button #btnClose type="submit" class="btn form-control btn-log">Registrar</button>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>