<div class="container mr-1 bg-light top-x">
  <div class="title-box">
    <h1>Gestión de categoria</h1>
  </div>

  <button
    class="btn-new btn float-right"
    data-toggle="modal"
    data-target="#modalcat"
  >
    <i class="fa fa-plus-circle"></i> Registrar Categoria
  </button>
  <app-modal-categorias></app-modal-categorias>
  <br />
  <hr />
  <table class="table table-striped table-bordered table-hover resp">
    <thead class="titulos">
      <tr>
        <th>Categoria</th>
        <th>Descripion</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody *ngFor="let categ of categoriasbd"> 
      <tr>
        <td>{{categ.nombre_categoria}}</td>
        <td>{{categ.descripcion_categoria}}</td>
        <td><button class="btn btn-default btn-outline-dark modificar" (click)="update_data(categ.id_categoria, categ.nombre_categoria, categ.descripcion_categoria)" data-toggle="modal"
          data-target="#modalmodcat">
          <i class="fa fa-edit"></i>
        </button>

        <button class="btn btn-default btn-outline-dark eliminar" (click)="delete_categoria(categ.id_categoria)">
          <i class="fa fa-trash"></i>
        </button></td>
      </tr>
      
    
    </tbody>
  </table>
</div>


<!-- MODAL MODIFICAR CATEGORIA -->
<div class="modal fade" id="modalmodcat" tabindex="-1" role="dialog" aria-labelledby="examepleModalModcat" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="examepleModalModcat">modificar Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          
          <div class="form-group">
            <label for="exampleFormControlInput1">Nombre</label>
            <input [(ngModel)]= "cat_update.nombre_categoria" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="nombre" placeholder="Nombre categoria">
          </div>
         
          <div class="form-group">
            <label for="exampleFormControlInput1">Descripcion</label>
              <textarea [(ngModel)]= "cat_update.descripcion_categoria" [ngModelOptions]="{standalone: true}" name="Descripcion" class="form-control" id="descripcion" cols="30" rows="10" placeholder="Descripcion categoria..."></textarea>
          </div>
          <input type="text" class="form-control" id="id" placeholder="Nombre " style="visibility: hidden;">

          <div class="form-group">
            <button class="form-control btn btn-log" (click)="update_categoria()" >Modificar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
