
.top-x {
  padding-top: 50px;
}

.title-box {
    padding: 3rem 1.5rem 2rem;
    text-align: center;

}

.resp {
  width: 97%;
  margin-left: 30px;
}

.btn-nueva {
  margin: 2px 0 14px 0;
}
html{
    color: black !important;
}
h1,h2,h3,h4
{
    color: black;
    font-size: 50px;
}
.boton-nuevo{
    margin-right: 8px;
    box-shadow: none;
    background: #3d5afe;
    border: double;
  }
  .botonguardar{
    background-color:  #311b92;
    color: white;
  }

  $colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

.btn-log {
    background-color: $colorsecundario;
    color: #ffffff;
}
button
{
  margin: 0 8px;
}
.eliminar{
  background-color: $colorsecundario;
  color: white;
}
.modificar{
  background-color: #311b92;
  color: white;
}
.btn-new {
  background-color: $colorsecundario;
  color: #ffffff;
}

.crd-init {
  text-decoration: none;
}

.titulo {
  color: $colorsecundario;
}
.titulos{
  background-color: $colorprimario;
  color: white;
}