<section>
    <div class="container">
        <div class="titulo">
            <h2>Servicios</h2>
        </div>


        <div class="row prueba-cont">
            <div class="col-md-3 cont-x">
                <div class="card card-cont">
                    <div class="cont-image">
                        <img class="card-img-top" src="../../../assets/img/mujer.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Salón de belleza</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cont-x">
                <div class="card card-cont">
                    <div class="cont-image">
                        <img class="card-img-top" src="../../../assets/img/vino.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Servicios de alcolización</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cont-x">
                <div class="card card-cont">
                    <div class="cont-image">
                        <img class="card-img-top" src="../../../assets/img/cabello.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Peluquerías</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cont-x">
                <div class="card card-cont">
                    <div class="cont-image">
                        <img class="card-img-top" src="../../../assets/img/fruta.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">transporte de alimentos</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cont-x">
                <div class="card card-cont">
                    <div class="cont-image">
                        <img class="card-img-top" src="../../../assets/img/gas.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Mecanico</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cont-x">
                <div class="card card-cont">
                    <div class="cont-image">
                        <img class="card-img-top" src="../../../assets/img/gato.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Veterinarios</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cont-x">
                <div class="card card-cont">
                    <div class="cont-image">
                        <img class="card-img-top" src="../../../assets/img/maquina-elevadora.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">remolque</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cont-x">
                <div class="card card-cont">
                    <div class="cont-image">
                        <img class="card-img-top" src="../../../assets/img/rastrillo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">jardinería</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cont-x">
                <div class="card card-cont">
                    <div class="cont-image">
                        <img class="card-img-top" src="../../../assets/img/aeronave.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">viajes</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>