$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

.titulo {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.titulo h2 {
    font-size: 50px;
}

.card-cont {
    border: none;
    cursor: pointer;
}

.cont-image {
    border-radius: 50%;
    padding: 30px;
    background-color: $colorsecundario;
    margin: 40px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.cont-image:hover {
    background-color: $colorprimario;
    transition: .8s;
}

.prueba-cont {
    width: 100%;
}

.cont-x {
    margin: auto;
    text-align: center;
}