<br><br>
<div class="container mr-1 bg-light">
  <h1 style="text-align: center;">Empresas Afiliadas</h1>

  <input type="text">
<button>buscar</button>
    <button *ngIf="this.cookie.get('tipoUser') == '3'" class="btn-new btn float-right" data-toggle="modal" data-target="#registerCompany"><i class="fa fa-plus-circle"></i> Registrar Empresa</button>
    <hr>

    <ng-container *ngIf="empresas != 'No existen empresas!';else sinResultados">
      <div class="cuadrar">
        <div class="card-columns mt-3 mb-3 border">
            <div class="card" *ngFor="let e of empresas">
                <img src="{{ e.logo_empresa }}" class="card-img-top" alt="..." height="300px" width="300px">
                <div class="card-body">
                    <h5 class="card-title">{{ e.nombre_empresa | titlecase }}</h5>
                    <h5 class="card-title">{{ e.nombre_categoria | uppercase }}</h5>
    
                    <a class="btn btn-success" [routerLink]="['/company/', e.id_empresa]" >Ver mas</a>
                    <a *ngIf="this.cookie.get('tipoUser') == '3'" class="btn btn-success float-right" >Descargar fundeempresa</a>
                </div>
            </div>
        </div>
    </div>

  </ng-container>
    

    <ng-template #sinResultados class="text-center">No se encontro ninguna empresa :(</ng-template>

  
  <app-register-company></app-register-company>
</div>

