$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;



.container{
    padding-left:70px;
}
.cuadrar {
    margin-bottom: 300px;
    
}
.btn{
    background-color: $colorsecundario !important;
    color:white;
}

.btn-new {
    background-color: $colorsecundario;
    color: #ffffff;
}

.crd-init {
    text-decoration: none;
}

.titulo {
    color: $colorsecundario;
}