<!-- Modal agregar servicios-->
<div class="modal fade" id="Agregarservicios" tabindex="-1" role="dialog" aria-labelledby="Agregarservicios" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Agregarservicios">Agregar Servicios</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
              <div class="form-group">
                  <label for="">Nombre servicio</label>
                  <input type="text" [(ngModel)]= "servicio.nombre_servicio" [ngModelOptions]="{standalone: true}" class="form-control">
              </div>
              <!-- <div class="col-md-6"> -->
                <label for="exampleFormControlSelect1">Sub-Categoria</label>
              <select  [(ngModel)]= "servicio.id_subcategoria" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
                <option *ngFor="let s of sub_categoria" value="{{s.id_subcategoria}}">{{s.nombre_subcategoria}}</option>
                
              </select>
              <!-- </div> -->
              <div class="form-group">
                <label for="">Descripcion servicio</label>
                <textarea class="form-control" [(ngModel)]= "servicio.descripcion_servicio" [ngModelOptions]="{standalone: true}" name="" id="" cols="30" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="">Precio servicio</label>
                <input type="number" [(ngModel)]= "servicio.precio_servicio" [ngModelOptions]="{standalone: true}" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Puntos en ONE-COINS para Otorgar</label>
                <input type="number" [(ngModel)]= "servicio.one_coin_ps" [ngModelOptions]="{standalone: true}" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Puntos en ONE-COINS para Promo</label>
              <input type="number" [(ngModel)]= "servicio.one_coin_promo" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
            <button class="form-control btn btn-log" (click)="registrar_servicio()">Registrar</button>
        </form>
        </div>
      
      </div>
    </div>
  </div>