
<div id="wrapper" >
    <!-- Navigation -->
    <nav class="" role="navigation" >          
            <ul class="nav navbar-nav side-nav" id="myTab" role="tablist">
                <li *ngIf="this.cookie.get('tipoUser') == '3'" class="nav-item item-menu">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" routerLink="/tablero" role="tab" aria-controls="tablero" aria-selected="true">
                        <i class="fa fa-pie-chart"></i>
                        Tablero</a>
                </li>
                <li class="nav-item item-menu">
                    <a class="nav-link" id="company-tab" routerLink="/admin/company" (click)="goToEmpresas()" data-toggle="collapse" data-target="#submenu-e" role="tab" aria-controls="comp" aria-selected="false">
                        <i class="fa fa-building-o"></i> Empresas <i class="fa fa-fw fa-angle-down pull-right"></i>
                    </a>
                    <ul id="submenu-e" class="collapse" *ngFor="let c of categories">
                        <li>
                            <a [routerLink]="['/admin/company']" [queryParams]="{cat: c.id_categoria}">
                                <i class="fa fa-angle-double-right"></i> {{ c.nombre_categoria }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="this.cookie.get('tipoUser') == '3'" class="nav-item item-menu">
                    <a class="nav-link" id="home-tab" data-toggle="tab" routerLink="/category" role="tab" aria-controls="favoritos" aria-selected="false">
                    <i class="fa fa-sitemap"></i>
                    Categorias</a>
                </li>
                
                <li *ngIf="this.cookie.get('tipoUser') == '3'" class="nav-item item-menu">
                    <a class="nav-link" id="coins" data-toggle="tab" routerLink="/cliente/tabla" role="tab" aria-controls="coins" aria-selected="false">
                    <i class="fa fa-user"></i>
                    Usuarios</a>
                </li>
                <li *ngIf="this.cookie.get('tipoUser') == '1'" class="nav-item item-menu">
                    <a class="nav-link" id="coins" data-toggle="tab" routerLink="/user/panel" role="tab" aria-controls="coins" aria-selected="false">
                    <i class="fa fa-usd"></i>
                    Mis Coins</a>
                </li>
                <li *ngIf="this.cookie.get('tipoUser') == '1'" class="nav-item item-menu">
                    <a class="nav-link" id="home-tab" data-toggle="tab" routerLink="/favoritos" role="tab" aria-controls="favoritos" aria-selected="false">
                    <i class="fa fa-star"></i>
                    Favoritos</a>
                </li>
                <li *ngIf="this.cookie.get('tipoUser') == '2'" class="nav-item item-menu">
                    <a class="nav-link" id="home-tab" data-toggle="tab" routerLink="/gestionar" role="tab" aria-controls="empresa" aria-selected="false">
                    <i class="fa fa-cogs"></i>
                    Mi empresa</a>
                </li>
                <li *ngIf="this.cookie.get('tipoUser') == '2'" class="nav-item item-menu">
                    <a class="nav-link" id="home-tab" data-toggle="tab" routerLink="/cliente" role="tab" aria-controls="clientes" aria-selected="false">
                    <i class="fa fa-users"></i>
                    Clientes</a>
                </li>
                <li class="nav-item item-menu">
                    <a class="nav-link" id="home-tab" data-toggle="tab" routerLink="/contactar" role="tab" aria-controls="clientes" aria-selected="false">
                    <i class="fa fa-phone"></i>
                    Contacto</a>
                </li>
                 <li class="nav-item item-menu">
                    <a class="nav-link logout"(click)="onLogout()" ><i class="fa fa-power-off"></i>
                        Salir</a>
                  </li>

            </ul>
        <!-- /.navbar-collapse -->
    </nav>
    
</div><!-- /#wrapper -->
