$colorprimario: #1e1e1e;
$colorsecundario: #9d1d1d;



@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
    padding-left: 0;    
    overflow-y: auto;
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    //float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: $colorprimario;
}


/* Side Navigation */
.side-nav {

    position: fixed;
    top: 50px;
    width: 225px;
    height: 1000px;
    margin-left: -225px;
    background-color: $colorprimario;
    bottom: 0;
 overflow-y: auto;
}


.item-menu a {
    padding: 15px;
    color: #ffffff;
}

.item-menu [aria-selected="true"] {
    background: $colorsecundario !important;
    border: $colorsecundario;
  }

.item-menu:hover {
    background-color: $colorsecundario;
    transition: .5s;
}

.logout {
    cursor: pointer;
}

@media(min-width:768px) {
    

}
