<!-- Modal agregar servicios-->
<div class="modal fade" id="Verfavoritos" tabindex="-1" role="dialog" aria-labelledby="Verfavoritos" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Verfavoritos">INFO EMPREAS FAVORITAS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
              <div class="form-group">
                <h5 class="card-title">Nombre de la empresa x y ldlanln d uno dos prueba</h5>
              </div>
              <div class="form-group">
                <label for="" style="text-decoration: solid;">Descripcion </label>
                <p class="card-text">Una breve descripción de la empresa</p>

            </div>
            
            <div class="form-group">

            
                
                <form class="form">
                    <p class="clasificacion">
                      <input id="radio1" type="radio" name="estrellas" value="5"><!--
                      --><label for="radio1">★</label><!--
                      --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                      --><label for="radio2">★</label><!--
                      --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                      --><label for="radio3">★</label><!--
                      --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                      --><label for="radio4">★</label><!--
                      --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                      --><label for="radio5">★</label>
                    </p>
                  </form>

            </div>
           
            <button class="form-control btn btn-log">Registrar</button>
        </form>
        </div>
      
      </div>
    </div>
  </div>