<div class="container mr-1 bg-light top-x">
  <div class="titulo col-md-12 p-3">
    <div class="row">
      <div class="col-md-6">
        <h5>Editar Información de la empresa</h5>
      </div>
      
      <div class="col-md-6">
        
        <button class="btn btn-scr float-right mr-1" data-toggle="modal" data-target="#Agregarsucursal">Agregar
          sucursal</button>
        <app-modalagregarsucursal></app-modalagregarsucursal>

      </div>
    </div>
  </div>
  <div class="row p-1 ml-1">
    <div class="col-md-6">
      <div class="card" style="width: 32rem;" *ngFor="let item of empresa">
        <img class="card-img-top" src="{{item.logo_empresa}}" alt="Card image cap">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h5 class="card-title">{{item.nombre_empresa}}</h5>
              <p class="card-text">{{item.nombre_categoria}}</p>
            </div>
            <div class="col-md-3">
              <button class="btn btn-scr float-right" data-toggle="modal" data-target="#modaleditarempresa"><i
                  class="fa fa-pencil-square-o"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3" style="width: 32rem;">
        <div class="card-body">
          <h5 class="card-title">Servicios</h5>
          <div class="card mb-3" *ngFor="let s of servicio">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <h5 class="card-title">{{s.nombre_servicio}}</h5>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-scr float-right" data-toggle="modal" data-target="#modaleditarservicios"><i
                      class="fa fa-pencil-square-o"></i></button>
                </div>
              </div>
              <p class="card-text">{{s.descripcion_servicio}}</p>
              <div class="row">
                <div class="col-md-6">
                  <p>Costo del servicio <label for="">{{s.precio_servicio}}bs</label> </p>
                </div>
                <div class="col-md-6">
                  <p>Recompensa <label for="">{{s.one_coin_ps}} </label> coins</p>
                </div>
                <div class="col-md-6">
                  <p>Promo <label for="">{{s.one_coin_promo}} </label> coins</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                  <h5 class="card-title">soplar celulares</h5>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-scr float-right"data-toggle="modal" data-target="#modaleditarservicios"  ><i class="fa fa-pencil-square-o"></i> Editar</button>
                                </div>
                            </div>
                          <p class="card-text">descripción sobre el mantenimiento correctivo y preventivo</p>
                          <div class="row">
                              <div class="col-md-6">
                                  <p>Costo del servicio <label for="">10bs</label> </p>
                              </div>
                              <div class="col-md-6">
                                  <p>Recompensa <label for="">100 </label> coins</p>
                              </div>
                          </div>
                        </div>
                      </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3" style="width: 32rem;" *ngFor="let s of this.sucursal; index as i">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h5 class="card-title">{{s.nombre_sucursal}}</h5>
              <p class="card-text">{{s.direccion_sucursal}}</p>

              <agm-map frameborder="0" style="border:0; width: 470px;" allowfullscreen="" aria-hidden="false"
                tabindex="0" [latitude]="lat[i]" [longitude]="lng[i]" [zoom]="15">
                <agm-marker [latitude]="lat[i]" [longitude]="lng[i]"></agm-marker>
              </agm-map>
            </div>
            <div class="col-md-3">
              <button class="btn btn-scr float-right ml-1" data-toggle="modal" data-target="#Agregarservicios" (click)="ag_serv(s.id_sucursal)"><i class="fa fa-plus-circle"></i></button>
        <app-modalagregarservicios></app-modalagregarservicios>
              <button class="btn btn-scr float-right" data-toggle="modal" data-target="#modalsucursal">
                <i class="fa fa-pencil-square-o"></i> </button>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal editar info empresa -->
<div class="modal fade" id="modaleditarempresa" tabindex="-1" role="dialog" aria-labelledby="modaleditarempresaLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modaleditarempresaLabel">Modificar Info empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <label for="">Imagen empresa</label>
            <input type="file" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Nombre Empresa</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">descripción empresa</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <button class="btn btn-scr float-md-right">Modificar</button>

        </form>
      </div>

    </div>
  </div>
</div>


<!-- Modal editar info sucursal -->
<div class="modal fade" id="modalsucursal" tabindex="-1" role="dialog" aria-labelledby="modalsucursal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalsucursal">Modificar Info empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <label for="">Nombre sucursal</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Direccion sucursal</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Mapa</label>
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
          </div>
          <button class="btn btn-scr float-md-right">Modificar</button>

        </form>
      </div>

    </div>
  </div>
</div>



<!-- Modal editar Servicios -->
<div class="modal fade" id="modaleditarservicios" tabindex="-1" role="dialog" aria-labelledby="modaleditarservicios"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modaleditarservicios">Modificar Info Servicios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <label for="">Nombre servicio</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">descripción servicio</label>
            <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="form-group">
            <label for="">Precio servicio</label>
            <input type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Punto con ONE-COINS</label>
            <input type="number" class="form-control">
          </div>
          <button class="btn btn-scr float-md-right">Modificar</button>

        </form>
      </div>

    </div>
  </div>
</div>