<div class="container mt-5 bg light">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 32rem;" *ngFor="let empresa of empresadb">
                <img class="card-img-top" src={{empresa.logo_empresa}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{empresa.nombre_empresa}}</h5>
                    <p class="card-text">{{empresa.razon_social}}</p>
                </div>
            </div>


            <div class="card mt-3" style="width: 32rem;">
                <div class="card-body">
                    <h5 class="card-title">Servicios</h5>

                    <div class="card mb-3" *ngFor="let servicio of serviciosdb">
                        <div class="card-body">
                            <h5 class="card-title">{{servicio.nombre_servicio}}</h5>
                            <p class="card-text">Sucursal: {{servicio.nombre_sucursal}}</p>
                            <p class="card-text">{{servicio.descripcion_servicio}}</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Costo del servicio <label for="">{{servicio.precio_servicio}}bs</label> </p>
                                </div>
                                <div class="col-md-6">
                                    <p>Recompensa <label for="">{{servicio.one_coin_ps}} </label> coins</p>
                                </div>
                            </div>
                        </div>
                    </div>

            
                </div>
            </div>
        </div>
    
        <div class="col-md-6" >
            <div class="card mb-3" style="width: 32rem;" *ngFor="let s of sucursal; index as i ">
                <div class="card-body">
                    <h5 class="card-title">{{s.nombre_sucursal}}</h5>
                    <p class="card-text">{{s.direccion_sucursal}}</p>
                    <agm-map width="470" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
                    [latitude]="lat[i]"
                    [longitude]="lng[i]" 
                    [zoom]="15">
                
                      <agm-marker 
                      [latitude]="lat[i]" 
                      [longitude]="lng[i]"></agm-marker>
                    </agm-map> 
                </div>
            </div>

        </div>
    </div>
</div>
