<div class="container mr-1 bg-light top-x">
    <div class="title-box">
      <h1>Administradores Registrados</h1>
    </div>
    <br />
    <hr />
    <table class="table table-striped table-bordered table-hover">
      <thead class="titulos">
        <tr>
          <th>Categoria</th>
          <th>Descripion</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>         
        <tr>
          <td>
            nombre123
          </td>
          <td>
            direccion123
          </td>
  
          <td>
            <button class="btn btn-default btn-outline-dark modificar">
              <i class="fa fa-edit"></i>
            </button>
  
            <button class="btn btn-default btn-outline-dark eliminar">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  