<div class="modal fade" id="modalcat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelcat" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelcat">Registrar Categoria</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            
            <div class="form-group">
              <label for="exampleFormControlInput1">Nombre</label>
              <input [(ngModel)]= "categoriaRegistro.nombre_categoria" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="nombre" placeholder="Nombre categoria">
            </div>
           
            <div class="form-group">
              <label for="exampleFormControlInput1">Descripcion</label>
                <textarea [(ngModel)]= "categoriaRegistro.descripcion_categoria" [ngModelOptions]="{standalone: true}" name="Descripcion" class="form-control" id="descripcion" cols="30" rows="10" placeholder="Descripcion categoria..."></textarea>
            </div>
            <input type="text" class="form-control" id="id" placeholder="Nombre " style="visibility: hidden;">

            <div class="form-group">
              <button class="form-control btn btn-log" (click)="registrar_categoria()">Registrar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>