<div class="modal fade" id="modCoins" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <form name="formRegister" #formRegister="ngForm">
                
                <label for="Seleccionar servicio">Seleccionar servicio</label>
                <select class="form-control form-control-sm"  [(ngModel)]= "id_servicio" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let s of servico" value="{{s.id_servicio}}">{{s.nombre_servicio}}</option>                   
                </select>
                <br>
                <label for="Ingresar id del usuario" >Ingresar id del usuario</label>
                <input type="text" class="form-control" [(ngModel)]= "transaccion.id_usuario" [ngModelOptions]="{standalone: true}" placeholder="Ingresar el id escaneado">
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="pagar_coins()">cobrar</button>
                    <button type="button" class="btn btn-primary" (click)="dar_coins()">pagar</button>
                  </div>
            </form>               

        </div>
        
      </div>
    </div>
  </div>