<div class="container mr-1 bg-light top-x">
    <div class="row">
        <div class="col-md-6 p-3">
            <h5 class="ml-3">Coins canjeados</h5>
        </div>
        <div class="col-md-6 p-3">
            <div class="row">
                <div class="col-md-9">
                    <input type="text" placeholder="buscar nombre de empresa..." class="form-control">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-scr">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <section class="container">
        <div id="accordion" *ngFor="let res of resultadobd">
            <div class="card">
              <div class="card-header bg-format" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="row">
                    <div class="col-md-6">
                        <a class="headx">{{res.nombre_empresa}}</a>
                    </div>
                    <div class="col-md-6">
                        <a class="float-right headx">Total coins obtenidos: <strong>{{res.one_coin_acum}}</strong></a>
                    </div>
                </div>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>{{res.nombre_empresa}}</h3>
                            <p class="direction">{{res.razon_social}}</p>
                            <label for="">Cantidad de Coins obtenidos: <strong>{{res.one_coin_acum}}</strong> </label>
                            <h5>Servicios registrados</h5>
                            <p class="historial">19 de febrero del 2019: nombre del servicio consumido</p>
                            <p class="historial">06 de julio del 2019: nombre del servicio consumido</p>
                            <p class="historial">12 de noviembre del 2019: nombre del servicio consumido</p>
                            <a routerLink="/" class="float-right">ver mas...</a>
                            <br>
                            <hr>
                            <button type="button" class="btn btn-success mr-1" data-toggle="modal" data-target="#canjearServ">Canjear servicio</button>
                            <button class="btn btn-primary mr-1">Visitar empresa</button>
                        </div>
                        <!-- <div class="col-md-4">
                            <iframe width="330" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15230.456317147493!2d-66.17722095!3d-17.38229355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x59189be75f251805!2sChicken&#39;s%20Kingdom!5e0!3m2!1ses-419!2sbo!4v1592017524368!5m2!1ses-419!2sbo" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div> -->
                        <div class="col-md-6">
                            <img src={{res.logo_empresa}} width="430" alt="">
                        </div>
                    </div>
                </div>
              </div>

            </div>

            
          </div>
    </section>
</div>


<div class="modal fade" id="canjearServ" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Canjear servicio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="inputState">Seleccionar servicio a canjear</label>
                <select id="inputState" class="form-control">
                  <option selected>Servicio uno</option>
                  <option>Servicio dos</option>
                  <option>Servicio tres</option>
                </select>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>