
$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

.top-x {
    padding-top: 70px;
}

.historial {
    font-size: 12px;
    margin: 0px;
}

.direction {
    margin: 0px;
}

.headx {
    color: #ffffff;
}

.btn-scr {
    background-color: $colorsecundario;
    color: #ffffff;
}

.bg-format {
    background-color: $colorprimario;
}