<!-- Modal agregar servicios-->
<div class="modal fade" id="Agregarsucursal" tabindex="-1" role="dialog" aria-labelledby="Agregarsucursal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Agregarsucursal">Agregar Sucursal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
              <div class="form-group">
                <label for="">Nombre Sucursal</label>
                <!-- <input type="text"  class="form-control" [(ngModel)]= "sucursal.id_empresa" >   -->
                  <input type="text"  class="form-control"  [(ngModel)]= "sucursal.nombre_sucursal" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label for="">Direccion literal de la Sucursal</label>
                <input type="text" class="form-control"  [(ngModel)]= "sucursal.direccion_sucursal" [ngModelOptions]="{standalone: true}" name="" id="">
            </div>
            <div class="form-group">
                <label for="">Latitud y longitud</label>
                <agm-map 
                [latitude]="latitude" 
                [longitude]="longitude" 
                [zoom]="zoom"
                (mapClick)="mapClick($event)">
                  <agm-marker 
                  [latitude]="latitude" 
                  [longitude]="longitude"></agm-marker>
                </agm-map> 
            </div>
           
            <button class="form-control btn btn-log" (click)="registrar_sucursal()">Registrar</button>
        </form>
        </div>
      
      </div>
    </div>
  </div>