<div  class="container mr-1 bg-light top-x" >
    <div  class="title-box">
      <h1>Clientes Registrados</h1>
    </div>
    <br />
    <hr />
    <table  class="table table-striped table-bordered table-hover resp" >
      <thead  class="titulos" >
        <tr  >
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Celular</th>
          <th>Clave</th>
          <th>Correo</th>
          <th>Tipo</th>
          <th>Token</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody  *ngFor="let cliente of clientes">         
        <tr  >
          <td >
            {{cliente.nombre}}
          </td>
          <td>{{cliente.apellido}}</td>
          <td>
            {{cliente.celular}}
          </td>
          <td>{{cliente.clave}}</td>
          <td>{{cliente.correo_electronico}}</td>
          <td>{{cliente.tipo_usuario}}</td>
          <td>{{cliente.token}}</td>
          <td>
            <button class="btn btn-default btn-outline-dark modificar">
              <i class="fa fa-edit"></i>
            </button>
  
            <button class="btn btn-default btn-outline-dark eliminar">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  