$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;


.btn-new {
    background-color: $colorsecundario;
    color: #ffffff;
}

.titulo {
    color: $colorsecundario;
}

.tittle-af {
    text-align: center;
    margin: 40px !important;
}


section {
    padding: 60px 0;
  }
  
  section .section-title {
    text-align: center;
    color: $colorprimario;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  
  #team .card {
    border: none;
    background: #ffffff;
  }
  
  .image-flip:hover .backside,
  .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: 0.25rem;
  }
  
  .image-flip:hover .frontside,
  .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .frontside {
    width: 100%;
    height: 400px;

    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
  }
  .contcard{
    margin-bottom: 90px;
  }
  .btn-buscar{
    background-color: $colorsecundario;
    color:white;
  }
  .backside {
    width: 100%;
height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  }
  
  .frontside,
  .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
  }
  
  .frontside .card,
  .backside .card {
    min-height: 480px;
  }
  
  .backside .card a {
    font-size: 18px;
    color: $colorprimario !important;
  }
  
  .frontside .card .card-title,
  .backside .card .card-title {
    color: $colorprimario !important;
    font-size: 20px;
  }
  
  .frontside .card .card-body img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
  }
  
  #wrap {
    margin: 50px 100px;
    display: inline-block;
    position: relative;
    height: 60px;
    float: right;
    padding: 0;
    position: relative;
  }
  
  // input[type="text"] {
  //   font-family: "Oswald", sans-serif !important;
  
  //   height: 60px;
  //   font-size: 55px;
  //   display: inline-block;
  //   font-family: "Lato";
  //   font-weight: 100;
  //   border: none;
  //   outline: none;
  //   color: rgb(255, 248, 248);
  //   padding: 3px;
  //   padding-right: 60px;
  //   width: 0px;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   background: none;
  //   z-index: 3;
  //   transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  //   cursor: pointer;
  // }
  
  // input[type="text"]:focus:hover {
  //   border-bottom: 1px solid rgb(255, 254, 254);
  // }
  
  // input[type="text"]:focus {
  //   width: 700px;
  //   z-index: 1;
  //   border-bottom: 1px solid #bbb;
  //   cursor: text;
  // }
  // input[type="submit"] {
  //   height: 67px;
  //   width: 63px;
  //   display: inline-block;
  //   color: red;
  //   float: right;
  //   text-indent: -10000px;
  //   border: none;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   z-index: 2;
  //   cursor: pointer;
  //   opacity: 0.4;
  //   cursor: pointer;
  //   transition: opacity 0.4s ease;
  // }
  
  input[type="submit"]:hover {
    opacity: 0.8;
  }
  
  .botonbuscar {
    background: $colorprimario;
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-family: "Josefin Sans";
    font-weight: 600;
    padding: 10px 17px;
    margin-top: 27px;
    transition: all 0.4s ease;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  .services .card {
    width: 350px;
    min-height: 245px;
  }
  
  .services .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://travel.state.gov/content/travel/en/us-visas/business/_jcr_content/tsg-rwd-content-page-parsysxxx/slideshow.img.png/1512148994695.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .services .card-body-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://omarlaza.com/abogados/wp-content/uploads/2019/05/familia1.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: nrepeat;
  }
  
  .services .over-card {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    color: #fff;
    padding: 20px;
    transition: all 500ms;
    cursor: pointer;
  }
  
  .services .over-card:hover:not(.card-title) {
    background: #333333 !important;
    opacity: 0.7;
  }

  .btn-primary:hover,
.btn-primary:focus {
  background-color: $colorsecundario;
  border-color: $colorsecundario;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: $colorsecundario;
  border-color: $colorsecundario;
}