<h1 class="tittle-af">Empresas Afiliadas</h1>

<div class="opacty">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <input type="text" class="form-control fa fa-search"  placeholder="Nombre de empresa..." [(ngModel)] = "searchbox" value={{searchbox}} name="searchbox">
            </div>            

        </div>
    </div>
</div>
<br><hr>
<div class="container">
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-3 contcard"*ngFor="let empresa of empresasdb | pipeEmpresas:searchbox">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{empresa.logo_empresa}}" alt="card image"></p>
                              <h4 class="card-title">{{empresa.nombre_empresa}}</h4>
                              <p class="card-text">{{empresa.razon_social}}</p>
                              <a style="color:white !important;" href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Ver mas</a>
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Nombre de la empresa:</h4>
                              <p class="card-text">{{empresa.nombre_empresa}}</p>
                              <h4 class="card-title">Nit de la empresa:</h4>
                              <p class="card-text">{{empresa.nit_empresa}}</p>
                              <h4 class="card-title">Razon social de la empresa:</h4>
                              <p class="card-text">{{empresa.razon_social}}</p>
                              <ul class="list-inline fixed-bottom">
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </li>
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-skype"></i>
                                      </a>
                                  </li>
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="#">
                                          <i class="fa fa-google"></i>
                                      </a>
                                  </li>
                              </ul>
<button (click)="vermasEmpresa(empresa.id_empresa)" style="color:white !important;" class="btn btn-primary btn-sm" ><i class="fa fa-plus"></i> Ver mas</button>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>