
<div id="wrapper">
    <!-- Navigation -->
    <nav class="" role="navigation">          
            <ul class="nav navbar-nav side-nav" id="myTab" role="tablist">
                <li class="nav-item item-menu">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#tablero" role="tab" aria-controls="home" aria-selected="true">
                        <i class="fa fa-pie-chart"></i>
                        Tablero</a>
                  </li>
                  <li class="nav-item item-menu">
                    <a class="nav-link" id="empresas-tab" data-toggle="tab" href="#empresas" role="tab" aria-controls="empresas" aria-selected="false">
                        <i class="fa fa-building-o"></i>
                        Empresas</a>
                  </li>
                  <li class="nav-item item-menu">
                    <a class="nav-link" id="contact-tab" href="#" data-toggle="collapse" data-target="#submenu-2">
                        <i class="fa fa-sitemap"></i>
                        Categorías <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul id="submenu-2" class="collapse">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 1</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 3</a></li>
                    </ul>
                </li>
                  <li class="nav-item item-menu">
                      <a class="nav-link" id="categoria-tab" data-toggle="tab" href="#categoria" role="tab" aria-controls="ultimo" aria-selected="false">
                        <i class="fa fa-users"></i>
                        Gestion Categorias</a>
                  </li>
                    <li class="nav-item item-menu">
                        <a class="nav-link" id="contact-tab" href="#" data-toggle="collapse" data-target="#submenu-u">
                            <i class="fa fa-cog"></i>
                            Usuarios <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-u" class="collapse">
                            <li class="nav-item item-menu"><a class="nav-link" data-toggle="tab" href="#otro" role="tab" aria-controls="categoria" aria-selected="false"> Usuario 1</a></li>
                            <li class="nav-item item-menu"><a class="nav-link" data-toggle="tab" href="#otro" role="tab" aria-controls="categoria" aria-selected="false"> Usuario 2</a></li>
                            <li class="nav-item item-menu"><a class="nav-link" data-toggle="tab" href="#otro" role="tab" aria-controls="categoria" aria-selected="false"> Usuario 3</a></li>
                        </ul>
                    </li>
            </ul>
        <!-- /.navbar-collapse -->
    </nav>

    <div class="tab-content bg-light" id="myTabContent">
        <div class="tab-pane fade show active" id="tablero" role="tabpanel" aria-labelledby="home-tab">
            <!-- carrousel -->
            <app-tablero></app-tablero>
            <!-- fin carrousel -->
            
        </div>
        <div class="tab-pane fade" id="empresas" role="tabpanel" aria-labelledby="empresas">
            <!-- carrousel -->
            <app-company></app-company>
            <!-- fin carrousel -->
        </div>
        <div class="tab-pane fade" id="categoria" role="tabpanel" aria-labelledby="categoria-tab">
            <app-category></app-category>
    
        </div>
        <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="ultimo-tab">
            <app-users></app-users>
    
        </div>
        <div class="tab-pane fade" id="otro" role="tabpanel" aria-labelledby="categoria-tab">
                <app-tablacliente></app-tablacliente>
                <app-tablaadministrador></app-tablaadministrador>
                <app-tablaempresa></app-tablaempresa>
            </div>
        <div class="tab-pane fade" id="register-comp" role="tabpanel" aria-labelledby="register-company-tab">
            <app-register-company></app-register-company>
        </div>
      </div>
    
</div><!-- /#wrapper -->
