$colorprimario:#1E1E1E;
$colorsecundario:#9D1D1D;

* {
  box-sizing: border-box;
  color: #fff;
 
}

.lawe {
    color: #1E1E1E;
}
.txt-x {
    color: #1E1E1E;
    text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

.wrapper {
  margin: 100px auto 0;
  width: 70%;
  max-width: 700px;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  margin: 0;
}

form * {
  font-size: 20px;
  letter-spacing: 0.075em;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

form .field label {
  position: absolute;
  top: 0;
  left: 0;
  background:#9d1d1d;
  width: 100%;
  height: 64px;
  transition: width 333ms ease-in-out;
  text-align: center;
  padding: 18px 0;
}

form .field input[type="text"],
form .field textarea {
  border: none;
  width: 100%;
  height: 64px;
  margin: 0;
  padding-left: 19.5%;
  color: #313a3d;
  border: 1px solid $colorsecundario;
}

/* Track */
::-webkit-scrollbar {
  background: $colorprimario;
}

::-webkit-scrollbar-track {
  background: $colorsecundario;
}

::-webkit-scrollbar-thumb {
  background: $colorprimario;
}


form #msg {
  height: 64px;
  resize: none;
  transition: all 333ms ease-in-out;
  padding-top: 18px;
}
form textarea:focus#msg,
form textarea:not(:placeholder-shown)#msg {
  height: 166px;
}
form input[type="text"]:focus + label,
form input[type="text"]:not(:placeholder-shown) + label,
form textarea:focus + label,
form textarea:not(:placeholder-shown) + label,
form .field:hover label {
  width: 18%;
  background: $colorprimario;
}
form input[type="submit"] {
  background: #9d1d1d;
  -webkit-appearance: none;
  border: none;
  position: relative;
  padding: 13px 50px;
  transition: all 0.3s ease-in-out;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background: #161313;
}
