<div class="container mr-1 bg-light top-x">
    <div class="row">
        <div class="col-md-6 p-3">
            <h5 class="ml-3">Contactar</h5>
        </div>
       
    </div>
    
    <section class="container pb-5">
        <div class="m-5 text-center">
            <h2 class="lawe">Contactar</h2>
        </div>
        <div class="wrapper mt-0">
            <form class="mt-0" action="#" method="post">
            <div class="field">
                <input type="text" id="name" name="name" placeholder="Cual es tu nombre?" autofocus/>
                <label for="name">Nombre</label>
            </div>
            <div class="field">
                <input type="text" id="email" name="email" placeholder="ejemplo@ejemplo.com" />
                <label for="email">E-Mail</label>
            </div>
            <div class="field">
                <textarea id="msg" rows="4" name="msg" placeholder="tu mensaje..."></textarea>
                <label for="msg">Mensaje</label>
            </div>
            <input class="button" type="submit" value="Enviar" />
            </form>
        
        </div>

    </section>
</div>